<!DOCTYPE html>
<html>
<head>
    <title>Movie Recommender System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>🎬 Movie Recommender System</h1>

    <form method="POST">
        <input type="text" name="movie" placeholder="Enter movie name" required>
        <button type="submit">Recommend</button>
    </form>

    {% if recommendations %}
        <h2>Recommended Movies:</h2>

        <ul>
            {% for movie in recommendations %}
                <li>{{ movie }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

</body>
</html>
